.contact-half-div{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.contact-half-div h1{
    width: 90%;
}
.contact-half-div p{
    width: 90%;
}


/* smartphone view CSS */

@media only screen and (max-width: 575px) {
    .contact-half-div{
        text-align: center;
    }
    .contact-half-div h1{
        width: 100%;
        text-align: center;
    }
    .contact-half-div p{
        width: 100%;
        text-align: center;
    }
}