.login-form-parent{
    margin-top: 50px;
    margin-bottom: 30px;
}
.login-form-parent ion-icon{
    width: 120px;
    height: 120px;
    color: #4B5D67;
}
.login-form{
    text-align: left;
}


/* smartphone view CSS */

@media only screen and (max-width: 576px) {
    .login-form-parent{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .login-form{
        text-align: center;
    }
}