.crud-feature-subheading{
    font-size: 16px;
    color: #818181;
}
.crud-feature-card{
    /* margin-top: 10px; */
}
.crud-feature-card p{
    font-size: 15px;
    color: #818181;
}
.svg-div{
    margin-bottom: 40px;
}
.svg-div svg{
    color: #DC2626;
}


/* tablet view CSS */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .svg-div{
        margin-bottom: 30px;
    }
}


/* smartphone view CSS */

@media only screen and (max-width: 767px) {
    .svg-div{
        margin-bottom: 30px;
    }
}