.inventory-item-card{

}
.inventory-item-card-info{
    text-align: left;
}
.item-card-btn-div{
    display: flex;
    margin-bottom: 10px;
    padding: 0px;
}
.inventory-item-card-info p{
    font-size: 15px;
    color: #818181;
}



/* smartphone view CSS */

@media only screen and (max-width: 639px) {
    .inventory-item-card-info{
        text-align: center;
    }
    .inventory-item-card-info p{
        font-size: 15px;
        font-weight: 500;
        padding: 5px 0px;
    }
    .item-card-btn-div{
        text-align: center;
        margin: 10px auto;
    }
}