.navbar-brand ion-icon {
    color: #DC2626;
    font-size: 36px;
    margin-right: 5px;
}
header{
    position: sticky;
    top: 0px;
    z-index: 555;
}
.nav-div{
    padding-top: 15px;
    padding-bottom: 15px;
}
.brand-text{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-link{
    font-family: 'Poppins', sans-serif;
}
.users-buttons{
    flex-direction: row;
}
.header-btn{
    margin-left: 15px;
}

/* table view CSS */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .users-buttons{
        flex-direction: column;
    }
    .header-btn{
        margin-left: 0px;
        width: fit-content;
    }
}



    /* smartphone view CSS */

@media only screen and (max-width: 767px) {
    .nav-div{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .brand-text{
        font-weight: 600;
    }
    .users-buttons{
        flex-direction: column;
    }
    .header-btn{
        margin-left: 0px;
        width: fit-content;
    }
}