.navbar-brand ion-icon {
    color: #DC2626;
    font-size: 36px;
}
.primary-button{
    background-color: #DC2626;
    color: #fff;
    
}
.primary-button:hover{
    background-color: #ef4444;
    color: #fff;
}