.navbar-brand ion-icon {
    color: #DC2626;
    font-size: 36px;
}
header{
    position: sticky;
    top: 0px;
}
.nav-div{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* smartphone view CSS */

@media only screen and (max-width: 767px) {
    .nav-div{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}