.not-found-parent{
    margin: 50px auto;
}
.error-404{
    margin-top: 100px;
    font-size: 128px;
    color: #DC2626;
}
.text-message{
    font-size: 24px;
}

/* smartphone view CSS */

@media only screen and (max-width: 576px) {
    .error-404{
        font-size: 64px;
    }
    .text-message{
        font-size: 14px;
    }
}